body {
    padding: 50px;
    font-family: 'Limelight', serif;
    font-size: 14px;
    color:white;
    background-color:black;
}

a {
  color: #00B7FF;
}

table {
    border-style:solid;
    border-width:2px;
    border-radius:5px;
}

td {
    font-size: 18px;
    padding:5px;
}

th {
    padding:5px;
}
